@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Montserrat:wght@100;400&display=swap');

.loginContainer {
    /* width: 584px; */
    border-radius: 10px;
    border-color: "#1C343B";
}

.login_title {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.ragisterContainer{
    width: 584px;
    border-radius: 10px;
    border-color: "#1C343B";
}